<nav class="pagination is-centered {{paginator.page}}">
    {% if paginator.previous_page %}
    <a href="{{ site.baseurl }}{{ paginator.previous_page_path }}" class="pagination-previous is-info">Previous</a>
    {% else %}
    <p class="pagination-previous" disabled>Previous</p>
    {% endif %}
    {% if paginator.next_page %}
    <a href="{{ site.baseurl }}{{ paginator.next_page_path }}" class="pagination-next is-info">Next</a>
    {% else %}
    <p class="pagination-next" disabled >Next</p>
    {% endif %}
    <ul class="pagination-list">
        <!-- {% for page in (1..paginator.total_pages) %}
        {% if page == paginator.page %}
        <li><a class="pagination-link is-current">{{ page }}</a></li>
        {% elsif page == 1 %}
        <li><a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | split: '/' | pop | join: '/' }}" class="pagination-link">{{ page }}</a></li>
        {% else %}
        <li><a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}" class="pagination-link">{{ page }}</a></li>
        {% endif %}
        {% endfor %} -->
        {% if paginator.page_trail %}
            {% for trail in paginator.page_trail %}
                <li>
                    <a {% if page.url == trail.path %}class="pagination-link is-current"{% else %}class="pagination-link"{% endif %} href="{{ trail.path | prepend: site.baseurl }}" title="{{trail.title}}">{{ trail.num }}</a>
                </li>
            {% endfor %}
        {% endif %}
    </ul>
</nav>
