---
layout: default
---

<div class="columns is-multiline">
    <div class="column is-4">
        <div class="box">
            <p class="title is-4">Ingredients</p>
            <div class="content">
                <ul>
                    {% for ingredient in page.ingredients %}
                    <li>{{ ingredient }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="column is-8">
        <p class="title is-4">Method</p>
        <div class="content">
            <ol>
                {% for step in page.method %}
                    <li>{{ step }}</li>
                {% endfor %}
            </ol>
            <div class="tags">
                {% assign tags = page.keywords | split: "," %}
                {% for tag in tags %}
                    {% include tag.html tag=tag %}
                {% endfor %}
            </div>
            

        </div>
        <div class="content">
            {{ content }}
        </div>
    </div>
</div>